@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Prata');

@color-line: fade(#333, 10%);
@color-accent: #f44336;
@color-secondary: #03a9f4;

@color-lightest: #fff;
@color-lighter: #f8f8f8;
@color-light: #f3f3f3;
@color-mediumlight: #eee;
@color-medium: #ccc;
@color-mediumdark: #999;
@color-dark: #666;
@color-darker: #444;
@color-darkest: #333;

* {
  box-sizing: border-box;
}

html,
body,
#render-target,
.home {
  min-height: min-content;
  min-width: min-content;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: light;
  line-height: 1;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
}

.home {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 150ms ease-out;
}

.up {
  transform: scale(-1, -1);
  display: inline-block;
}

.clock {
  border-radius: 100%;
  border: 1px solid @color-line;
  overflow: hidden;
  background-color: @color-lightest;
}

.fulcrum {
  position: relative;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #222;
  transform: translate(-50%, -50%);
}

.ticks,
.rings,
.hands {
  position: relative;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
}

.hours .tick {
  font-family: 'Prata', serif;
  font-size: 35px;
  z-index: 999;
}

.seconds .tick {
  font-size: 0.75rem;
}

.marker {
  position: absolute;
  transform-origin: 0% 0%;
  border-top: 1px solid @color-accent;
  text-align: right;
  padding: 0 70px;
  color: @color-accent;
  font-size: 0.75rem;

  &.dashed {
    border-top-style: dashed;
    border-color: fade(@color-accent, 100%);

    .labels {
      color: fade(@color-accent, 100%);
    }
  }

  .labels {
    transform: translateY(-100%);
    padding: 2px 0;
  }
}

.hand {
  position: absolute;
  transform-origin: 14px 50%;
  background-color: @color-darkest;
  color: @color-lightest;
  padding: 4px 10px;
  border-radius: 15px;
  border: 1px solid #222;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  i {
    margin-right: 8px;
    color: fade(@color-lightest, 80%);
    font-size: 0.75rem;
  }

  &.seconds {
    background-color: @color-accent;
    transform-origin: 2px 50%;
    padding: 2px 0;
    height: 1px;
    border: none;
    border: 1px solid darken(@color-accent, 20%);
  }

  &.minutes {
    background-color: @color-accent;
    transform-origin: 4px 50%;
    padding: 4px 0;
    height: 1px;
    border: none;
    border: 1px solid darken(@color-accent, 20%);
  }

  &.accent {
    background-color: @color-secondary;
    border-color: darken(@color-secondary, 5%);
  }
}

.ring {
  transform: translate(-50%, -50%);
  border: 1px solid @color-line;
  position: absolute;
  border-radius: 100%;
}

.tock {
  .line {
    width: 200px;
    position: absolute;
    transform-origin: 0% 0%;
    height: 1px;
    background-color: @color-line;

    .label {
      color: fade(#333, 50%);
      text-align: right;
      padding: 0 70px;
      transform: translateY(-50%);

      &.flip {
        text-align: left;
        transform: translateY(-50%) scale(-1, -1);
      }
    }
  }

  .tick {
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    color: @color-darkest;
  }
}

.slice {
  position: absolute;
  transform-origin: 0 0;

  .bg {
    width: 0;
    height: 0;
    border: 0 solid transparent;

    &.light {
      border-right-color: fade(@color-darkest, 10%);
    }

    &.dark {
      border-right-color: fade(@color-darkest, 20%);
    }
  }
}

.signature {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 0.75rem;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.patches {
  position: absolute;
  right: 20px;
  bottom: 20px;

  .patch {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 150ms ease-out;
    border: 1px solid transparent;
    vertical-align: top;
    text-align: center;

    &:hover {
      border-color: @color-secondary !important;
    }
  }
}

.home,
.patch {
  &.lightest {
    background-color: @color-lightest;

    .signature a,
    .check {
      color: @color-darkest;
    }
  }

  &.lighter {
    background-color: @color-lighter;

    .signature a,
    .check {
      color: @color-darkest;
    }
  }

  &.light {
    background-color: @color-light;

    .signature a,
    .check {
      color: @color-darkest;
    }
  }

  &.mediumlight {
    background-color: @color-mediumlight;

    .signature a,
    .check {
      color: @color-darkest;
    }
  }

  &.medium {
    background-color: @color-medium;

    .signature a,
    .check {
      color: @color-darkest;
    }
  }

  &.mediumdark {
    background-color: @color-mediumdark;

    .signature a,
    .check {
      color: @color-lightest;
    }
  }

  &.dark {
    background-color: @color-dark;

    .signature a,
    .check {
      color: @color-lightest;
    }
  }

  &.darker {
    background-color: @color-darker;

    .signature a,
    .check {
      color: @color-lightest;
    }
  }

  &.darkest {
    background-color: @color-darkest;

    .signature a,
    .check {
      color: @color-lightest;
    }
  }
}
