@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Prata');

@import '../imports/style/home.less';
@import '../imports/style/ring.less';
@import '../imports/style/marker.less';
@import '../imports/style/hand.less';

@color-line: fade(@color-darkest, 10%);
@color-accent: #f44336;
@color-secondary: #03a9f4;

@color-lightest: #fff;
@color-lighter: #f8f8f8;
@color-light: #f3f3f3;
@color-mediumlight: #eee;
@color-medium: #ccc;
@color-mediumdark: #999;
@color-dark: #666;
@color-darker: #444;
@color-darkest: #333;

* {
  box-sizing: border-box;
}

html,
body,
#render-target,
.home {
  min-height: min-content;
  min-width: min-content;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: light;
  line-height: 1;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
}

.home {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 150ms ease-out;
}

.clock {
  border-radius: 100%;
  border: 1px solid @color-line;
  overflow: hidden;
  background-color: @color-lightest;
}

.fulcrum {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: darken(@color-darkest, 10%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
}

.hours .value {
  font-family: 'Prata', serif;
  font-size: 35px;
  z-index: 999;
}

.seconds .value {
  font-size: 0.75rem;
}

.tock {
  .line {
    width: 200px;
    position: absolute;
    transform-origin: 0% 0%;
    height: 1px;
    background-color: @color-line;

    .label {
      color: fade(#333, 50%);
      text-align: right;
      padding: 0 70px;
      transform: translateY(-50%);

      &.flip {
        text-align: left;
        transform: translateY(-50%) scale(-1, -1);
      }
    }
  }

  .value {
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    color: @color-darkest;
  }
}

.slice {
  position: absolute;
  transform-origin: 0 0;

  .bg {
    width: 0;
    height: 0;
    border: 0 solid transparent;

    &.light {
      border-right-color: @color-mediumlight;
    }

    &.dark {
      border-right-color: @color-medium;
    }
  }
}
